#topBar{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: row;
}
#backButton{
    a{
        text-decoration: none;
        color: white;
    }
    display: flex;
    background-color: rgb(89, 89, 255);
    border-radius: 1vh;
    margin-bottom: 1vh;
    border: 1px solid black; /* Added black border */
}
#link{
    padding-left:2vw;
    padding-right:2vw;
    padding-top:2vh;
    padding-bottom:2vh;
}