
#backButton{
    a{
        text-decoration: none;
        color: white;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
    }
    position: absolute;
    top: 2vh;
    right: 2vw;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 89, 255);
    border-radius: 1vh;
    margin-bottom: 1vh;
    border: 1px solid black; /* Added black border */
}